# 第 03 天：Python：資料型態與基本操作

## 物件(object)和變數(variable)

In [1]:
variable_a = 1
variable_b = 2
variable_a + variable_b

3

In [2]:
variable_a = True
variable_a = False
variable_a

False

In [3]:
a = 'alcapa'
b = 1
a + b

TypeError: can only concatenate str (not "int") to str

In [4]:
a = True
b = 2.3
a + b

3.3

In [5]:
boolean = False
integer_number = 24
float_number = 2.4
string = 'alpaca'
type(boolean), type(integer_number), type(float_number), type(string)

(bool, int, float, str)

## 布林(boolean)物件

In [6]:
string = 'alpaca'
booleanfied_string = bool(string)
string, booleanfied_string

('alpaca', True)

In [7]:
bool('ALPACA'), bool(''), bool(1.5), bool(-3.7), bool(0)

(True, False, True, True, False)

## 整數(integer)及浮點數(float)物件

In [8]:
int(4.5), float(3)

(4, 3.0)

In [9]:
int_string = '4'
float_string = '6.9'
int(int_string), float(float_string), float(int_string)

(4, 6.9, 4.0)

In [10]:
int(float_string)

ValueError: invalid literal for int() with base 10: '6.9'

In [11]:
int(float(float_string))

6

## 字串(string)物件

In [12]:
雙引號 = "THIS is created by double quotation mark"
單引號 = 'THIS is created by single quotation mark'
print(雙引號, 單引號)
雙引號, 單引號

THIS is created by double quotation mark THIS is created by single quotation mark

('THIS is created by double quotation mark',
 'THIS is created by single quotation mark')

In [13]:
雙引號中的單引號 = "THIS is created by 'double' quotation mark"
單引號中的雙引號 = 'THIS is created by "single" quotation mark'
雙引號中的雙引號 = "THIS is created by \"double\" quotation mark"
print(雙引號中的單引號)
print(單引號中的雙引號)
print(雙引號中的雙引號)

THIS is created by 'double' quotation mark
THIS is created by "single" quotation mark
THIS is created by "double" quotation mark

In [14]:
paragraph = """
first line
second line
"""
print(paragraph)

first line
second line

In [15]:
大家跟我一起來 = "Pen! Apple! "
print("1.\n", 大家跟我一起來+大家跟我一起來)
print("2.\n", 大家跟我一起來*6)

1.
 Pen! Apple! Pen! Apple!
2.
 Pen! Apple! Pen! Apple! Pen! Apple! Pen! Apple! Pen! Apple! Pen! Apple!

In [16]:
火山矽肺病 = "pneumonoultramicroscopicsilicovolcanoconiosis"
print("Length\t:", len(火山矽肺病))
print("25\t:", 火山矽肺病[25])
print("31~41\t:", 火山矽肺病[31:41])
print("-2\t:", 火山矽肺病[-2])

Length	: 45
25	: i
31~41	: olcanoconi
-2	: i

In [17]:
print("A.", "0123456789"[1:2])
print("B.", "0123456789"[::2])

A. 1
B. 02468